.personal_account_info {
  padding-right: 20px;
}

.personal_account_info_inner_button {
  margin-top: 10px;
}

.personal_account_control_buttons {
  margin-top: 20px;
}

.personal_account_client_forms,
.personal_account_order_form {
  padding-right: 20px;
}

.personal_account_result,
.personal_account_order,
.personal_account_client {
  padding-left: 20px;
}