.personal_account_info {
  padding-right: 20px;
}

.personal_account_info_inner_button {
  margin-top: 10px;
}

.personal_account_control_buttons {
  margin-top: 20px;
}

.personal_account_forms {
  padding-left: 20px;
}

.personal_account_forms_form {
  padding-right: 20px;
}

.personal_account_result {
  padding-left: 20px;
  text-align: left;
}

.personal_account_order {
  padding-left: 20px;
}