.enroll_title {
  margin-bottom: 40px;
}

.enroll_buttons {
  padding: 0 20px;
}

:where(.css-dev-only-do-not-override-1fviqcj).ant-list .ant-list-item .ant-list-item-meta .ant-list-item-meta-content {
  text-align: left;
}

.enroll_list_message {
  padding: 0 20px;
}


/* eroll_list_specialists */
.enroll_list_specialists {
  padding: 0 20px;
}

.enroll_list_specialists_item:first-child {
  padding-top: 0;
}

.enroll_list_specialists_item:hover {
  cursor: pointer;
}


/* eroll_list_dates */
.enroll_list_dates {
  padding: 0 20px;
}

.enroll_list_dates_item:first-child {
  padding-top: 0;
}

.enroll_list_dates_item_buttons {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 10px;
}

.enroll_list_dates_item_button {
  margin-right: 10px;
  margin-bottom: 10px;
}

.enroll_list_dates_item_button:last-child {
  margin-right: 0;
}


/* eroll_list_services */
.enroll_list_services {
  padding: 0 20px;
}

.enroll_list_services_item:first-child {
  padding-top: 0;
}

.enroll_list_services_item:hover {
  cursor: pointer;
}


/* enroll_order */
.enroll_order {
  padding: 0 20px;
}

.enroll_order_row {
  margin-bottom: 40px;
}

.enroll_order_row:last-child {
  margin-bottom: 0;
}

.enroll_order_details_specialist {
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(5, 5, 5, 0.06);
}


