.ant-list-header {
  font-weight: 500;
  font-size: 16px;
}

.enroll_title {
  margin-bottom: 40px;
}

.enroll_row {
  justify-content: center;
}

.enroll_buttons {
  padding: 0 20px;
}

:where(.css-dev-only-do-not-override-1fviqcj).ant-list .ant-list-item .ant-list-item-meta .ant-list-item-meta-content {
  text-align: left;
}

.enroll_list_message {
  padding: 0 20px;
}

.enroll_list_header_buttons {
  text-align: right;
}

.button--black {
  background-color: black;
  color: white;
}

.button--white {
  background-color: white;
  border-color: black;
  color: black;
  font-weight: 800;
}

.button_text--center span {
  position: absolute;
  transform: translate(-50%, -50%);
  line-height: 1;
}


/* enroll_list_specialists */
.enroll_list_specialists {
  padding: 0 20px;
}

.enroll_order_details_message {
  text-align: center;
}

.enroll_list_specialists_item_meta_row {
  justify-content: space-between;
  align-items: center;
}

.enroll_list_specialists_item_meta_button_delete {
  display: none;
}


/* enroll_list_services */
.enroll_list_services {
  padding: 0 20px;
}

.enroll_list_services_item_meta_row {
  justify-content: space-between;
  align-items: center;
}

.enroll_list_services_item_meta_button_delete {
  display: none;
}


/* enroll_list_dates */
.enroll_list_dates {
  padding: 0 20px;
}

.enroll_list_dates_items {
  text-align: left;
  margin-bottom: 15px;
}

.enroll_list_dates_item_month {
  margin-top: 10px;
}

.enroll_list_dates_item_buttons {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(5, 5, 5, 0.06);
}

.enroll_list_dates_item_buttons {
  margin-top: 10px;
}

.enroll_list_dates_item_button {
  margin-right: 10px;
  margin-bottom: 10px;

}

.enroll_list_times_buttons {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 10px;
}

.enroll_list_times_button {
  margin-right: 10px;
  margin-bottom: 10px;
}


/* enroll_order */
.enroll_order {
  padding: 0 20px;
}

.enroll_order_row {
  margin-bottom: 40px;
}

.enroll_order_row:last-child {
  margin-bottom: 0;
}

.enroll_order_details_specialist {
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(5, 5, 5, 0.06);
}

.enroll_order_details_item_meta_row {
  justify-content: space-between;
  align-items: center;
}

.enroll_order_details_service {
  justify-content: space-between;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.45);
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(5, 5, 5, 0.06);
}

.enroll_order_details_datetime {
  justify-content: space-between;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(5, 5, 5, 0.06);
}

.enroll_order_details_totalcount {
  justify-content: space-between;
  margin-top: 10px;
}

.enroll_order_details_next_step {
  margin-top: 20px;
  text-align: center;
}

.enroll_order_details_submit {
  text-align: center;
  margin-top: 20px;
}