.App {
  text-align: center;
}

.container {
  margin: 0 200px;
}

.header {
  margin-top: 40px;
}

.navigation {
  margin: auto 0;
}

:where(.css-dev-only-do-not-override-1fviqcj).ant-anchor-wrapper-horizontal::before {
  border-bottom: 0;
}

:where(.css-dev-only-do-not-override-1fviqcj).ant-anchor-wrapper-horizontal.navigation_left .ant-anchor {
  justify-content: flex-end;
}

:where(.css-dev-only-do-not-override-1fviqcj).ant-anchor-wrapper-horizontal.navigation_right .ant-anchor {
  justify-content: flex-start;
}



.main {
  margin-top: 100px;
}

.services_and_price {
  margin-bottom: 50px;
}

.services_and_price_header {
  margin-bottom: 40px;
}

.services_and_price_row {
  justify-content: space-between;
}

.services_and_price_card {
  margin-bottom: 20px;
}


.about_us_header {
  margin-bottom: 40px;
}