.enroll_list_dates_times_header_title {
  font-size: 16px;
  font-weight: 600;
}

.enroll_list_dates_items {
  text-align: left;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(5, 5, 5, 0.06);
}

.enroll_list_dates_item_buttons {
  margin-top: 10px;
}