.order_message, .order_lists, .order_form {
  padding-right: 20px;
}

.order_message {
  padding-top: 20px;
  font-size: 16px;
  font-weight: 400;
}

.order_message>span {
  padding: 6px 15px;
  font-size: 14px;
  width: 50px;
  height: 32px;
  color: white;
  background-color: #1677ff;
  border: 1px solid #1677ff;
  border-radius: 6px;
}

.order_check {
  padding-left: 20px;
}